<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies-Api</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>

<body>

<main>
    <div class="ui stackable menu">
        <a th:href="@{/movies}" class="header item">< Back</a>
    </div>

    <div class="ui container">
        <div class="ui two column grid">
            <div class="column">
                <img class="ui centered large image" th:src="@{${movie.poster}}">
            </div>
            <div class="column">
                <div class="ui large segment">
                    <div class="ui teal ribbon label">Imdb</div>
                    <span th:text="${movie.imdb}"></span>
                    <p></p>
                    <div class="ui teal ribbon label">Title</div>
                    <span th:text="${movie.title}"></span>
                    <p></p>
                    <div class="ui teal ribbon label">Year</div>
                    <span th:text="${movie.year}"></span>
                    <p></p>
                    <div class="ui teal ribbon label">Released</div>
                    <span th:text="${movie.released}"></span>
                    <p></p>
                    <div class="ui teal ribbon label">Imdb Rating</div>
                    <span th:text="${movie.imdbRating}"></span>
                    <p></p>
                    <div class="ui teal ribbon label">Genre</div>
                    <span th:text="${movie.genre}"></span>
                    <p></p>
                    <div class="ui teal ribbon label">Runtime</div>
                    <span th:text="${movie.runtime}"></span>
                    <p></p>
                    <div class="ui teal ribbon label">Director</div>
                    <span th:text="${movie.director}"></span>
                    <p></p>
                    <div class="ui teal ribbon label">Writer</div>
                    <span th:text="${movie.writer}"></span>
                    <p></p>
                    <div class="ui teal ribbon label">Actors</div>
                    <span th:text="${movie.actors}"></span>
                    <p></p>
                    <div class="ui teal ribbon label">Plot</div>
                    <span th:text="${movie.plot}"></span>
                    <p></p>
                    <div class="ui teal ribbon label">Language</div>
                    <span th:text="${movie.language}"></span>
                    <p></p>
                    <div class="ui teal ribbon label">Country</div>
                    <span th:text="${movie.country}"></span>
                    <p></p>
                    <div class="ui teal ribbon label">Awards</div>
                    <span th:text="${movie.awards}"></span>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

</body>
</html>